# Ambiente virtual
venv/

# Dados (caso contenha dados sensíveis ou pesados — ajuste conforme necessário)
aulas/

# Notebooks checkpoints
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp

# Configs sensíveis
.env
.env.*

# IDEs e editores
.vscode/
.idea/

# Testes / cobertura
.pytest_cache/
htmlcov/
coverage.*
teste